:root {
  --b1: #080808;
  --b2: #151515;
  --b3: #202020;
  --t1: #ffffff;
  --t2: #adadad;
  --t3: #313131;
}

html {
  background: var(--b1);
  color: var(--t1);
}

a {
  color: var(--t1);
  text-decoration: none;
}